body{
    background-color: white;
    background-image: url(amanda-vick-uULc_hC_1gE-unsplash\ 11.17.42\ AM.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    color: rgb(63, 116, 196);
    text-decoration: none;
    border-bottom: 2px solid rgb(63, 116, 196);
    padding-bottom: 6px;
}

a:hover {
    color: rgb(12, 58, 185);
    border-bottom-color: rgb(12, 58, 185);
}

h1 {
    color:darkgreen;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color:darkgreen;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    color:darkgreen;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul  {
    color: darkseagreen;
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    color:darkseagreen;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inspo {
    width: 500px;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #000000;
}

.images  {
    border-bottom: none;
}

.button  {
    background-color: seashell;
    padding: 10px;
    color: #000000;
    border: none;
    border-radius: 12px;

}

.button:hover  {
    background-color: #000000;
    color: #ffffff;
}

.wrapper  {
    width: 80%;
    margin: auto;

}